.bdy {
    background-color: black;
    margin: 0;
}

.back {
    background: linear-gradient(45deg, #384A54, #1E2931); 
    border-radius: 10px;
    height: 90vh;
    position: relative;
    padding: 20px;
    margin: 20px;
    color: white;

}

/* Title Bar */
header {
    background-color: #384A54;
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 10px;
}

/* Navigation Buttons */
.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.navigation ul li a:hover {
    background-color: #9E2929; 
}
/* ---------- */
.title {
    font-size: 40px;
    font-family: Impact;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(158, 41, 41, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ---------- */

/* Main Page */
.bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    font-weight: bold;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    background-image: url("blackwhite.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

  }

  .words{
    font-size: 40px;
    font-family: Impact;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(158, 41, 41, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
/* ---------- */

/* Footer */
.ftr {
    
    background-color: #9E2929;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    border-radius: 10px;
    left: 10px;
    right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.side-list{
    color: wheat;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 100px;
}
/* -------------- */

